@import "../../_variables.css";

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.leftGroup {
  display: flex;
  width: 50%;
  align-items: center;
  position: relative;
  z-index: 1;
}

.group {
  margin-bottom: 1em;

  &__button {
    padding: 0;
    border: 0;
    background: transparent;
    width: 100%;
    display: block;

    &:hover,
    &:focus {
      outline: none;

      & svg {
        transform: translateY(50%);
      }
    }

    & svg {
      height: 0.75em;
      display: block;
      margin: 0 auto;
      transition: .2s;

      & line {
        stroke-width: 1px;
      }
    }
  }
}

.title_group {
  min-width: 10em;
  margin-left: 0.5em;
}

.title {
  background-color: var(--color-white);
  border: var(--border-size) solid var(--border-color);
  font-size: 1em;
  font-weight: var(--font-bold);
  margin: 0.25em 0;
  padding: 0.5em 0.75em;
  position: relative;
}

.connectionAnchor {
  width: 0.75em;
  height: 0.75em;
  background: var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translate(-50%, -50%);
  border: var(--border-size) solid var(--brand-color);

  &__source {
    left: inherit;
    right: 0;
    transform: translate(50%, -50%);
  }
}

.connections {
  position: relative;
  z-index: 10;
  width: 33%;
}

:global(.anim-enter) {
  opacity: 1;
  transition: 0s;
}

:global(.anim-enter.anim-enter-active) {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}