@import "../../_variables.css";

.container {
  display: flex;
  font-family: var(--font-text);
  position: relative;
  transition: .2s;

  &:focus {
    outline: none;
    text-decoration: none;

    & .cell {
      border-color: var(--brand-color);
    }
  }

  & .name {
    margin: 0;
    font-size: 1em;
    font-weight: var(--font-bold);
    color: var(--color-black);
    line-height: 1.5;
  }
}

.cell {
  display: flex;
  align-items: center;
  border: var(--border-size) solid var(--border-color);
  border-left: 0;
  border-right: 0;
  background-color: var(--color-white);
  margin-bottom: 0.5em;
  flex-grow: 1;

  &:first-child {
    border-left: var(--border-size) solid var(--border-color);
    flex-grow: 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  &:last-child {
    border-right: var(--border-size) solid var(--border-color);
  }

  &--informacionBasica {
    flex-basis: 30%;
    flex-grow: 0;
    &:not(.grow) {
      max-width: 20.5em;
    }

    &.grow {
      flex-basis: 50%;
    }

    &.xgrow {
      flex-grow: 1;
      max-width: 100%;
    }

    & .text {
      width: calc(100% - 3em);
    }
  }

  &--occupation {
    flex-basis: 20%;

    &:not(.grow) {
      max-width: 22em;
    }
  }

  &--labels {
    justify-content: flex-end;
  }

  &--connections {
    &.grow {
      flex-basis: 2em;
      flex-grow: 0;
      text-align: right;
      justify-content: flex-end;
      padding-right: 0.5em;
    }
  }
}

.inner {
  display: flex;
  align-items: center;
}

.photo {
  border-radius: 50%;
  display: block;
  width: 2.75em;
  height: 2.75em;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0.25em 1em 0.25em 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.text {
  font-size: var(--font-small);
  line-height: 1;
  color: var(--color-black);
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 21em;
  display: inline-block;
  overflow: hidden;
}

.hidden {
  display: none;
}

.profile {
  border: var(--border-size) solid var(--border-color);
  background-color: #fff;
  padding: 0.5em 1em;
  /*max-width: 30em;*/
  display: block;
}

.compact {
  padding: 0.15em 0.5em;
  margin-top: 0.25em;
  cursor: pointer;

  & .photo {
    margin: 0 0.5em 0 0;
    width: 2em;
    height: 2em;
  }

  & .name {
    font-size: 0.9em;
  }

  &:not(:last-child) {
    margin-bottom: .25em;
  }
}

.header {
  display: flex;
  align-items: center;
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1;
  flex-grow: 1;
}

.hasLabel {
  border-left: 0.3em solid;
}

.bio {
  & p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0.25em;
    }
  }
}

.link {
  display: flex;
  width: 100%;
  overflow: hidden;

  .cell:first-child {
    border-left: 0;
  }
}

.popup {
  position: relative;

  &::before,
  &::after {
    transition: .2s;
    visibility: hidden;
    opacity: 0;
    right: -.25em;
  }

  &::after {
    content: attr(data-description) '...';
    position: absolute;
    bottom: 100%;
    background-color: var(--color-white);
    color: var(--brand-color--dark);
    width: 22em;
    text-align: left;
    padding: .5em;
    font-size: var(--font-small);
    border: var(--border-size) solid var(--border-color);
  }

  &--compact {
    &::after {
      width: auto;
      content: attr(data-description);
      white-space: nowrap;
    }
  }

  &::before {
    content: '';
    width: 2em;
    height: 1em;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%28219,%20219,%20219,%201%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
    background-size: 100% auto;
    position: absolute;
    bottom: calc(100% - 1.15em);
  }

  &:hover,
  &:focus,
  &[data-open] {
    outline: none;

    &::before,
    &::after {
      opacity: 1;
      visibility: visible;
      transform: translateY(-1em);
    }
  }
}

.info {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 0;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-white);
  background-color: var(--color-grey--light);
}