@import "../../_variables.css";

.container {
  display: flex;
  font-family: var(--font-text);
  position: relative;
  transition: .2s;

  &:focus {
    outline: none;
    text-decoration: none;

    & .cell {
      border-color: var(--brand-color);
    }
  }

  & .name {
    margin: 0;
    font-size: 1em;
    font-weight: var(--font-bold);
    color: var(--color-black);
    line-height: 1.5;
  }
}

.cell {
  display: flex;
  align-items: center;
  border: var(--border-size) solid var(--border-color);
  border-left: 0;
  border-right: 0;
  background-color: var(--color-white);
  margin-bottom: 0.5em;
  flex-grow: 1;

  &:first-child {
    border-left: var(--border-size) solid var(--border-color);
    flex-grow: 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  &:last-child {
    border-right: var(--border-size) solid var(--border-color);
  }

  &--informacionBasica {
    flex-basis: 30%;
    flex-grow: 0;
    &:not(.grow) {
      max-width: 20.5em;
    }

    &.grow {
      flex-basis: 50%;
    }

    &.xgrow {
      flex-grow: 1;
      max-width: calc(100% - 2.5em);
    }

    & .text {
      width: calc(100% - 3em);
    }
  }

  &--occupation {
    flex-basis: 20%;

    &:not(.grow) {
      max-width: 22em;
    }
  }

  &--labels {
    justify-content: flex-end;
  }

  &--connections {
    &.grow {
      flex-basis: 2em;
      flex-grow: 0;
      text-align: right;
      justify-content: flex-end;
      padding-right: 0.5em;
    }
  }
}

.inner {
  display: flex;
  align-items: center;
}

.photo {
  border-radius: 50%;
  display: block;
  width: 2.75em;
  height: 2.75em;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0.25em 1em 0.25em 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.text {
  font-size: var(--font-small);
  line-height: 1;
  color: var(--color-black);
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 21em;
  display: inline-block;
  overflow: hidden;
}

.hidden {
  display: none;
}

.profile {
  border: var(--border-size) solid var(--border-color);
  background-color: #fff;
  padding: 0.5em 1em;
  /*max-width: 30em;*/
  display: block;
}

.compact {
  padding: 0.15em 0.5em;
  margin-top: 0.25em;
  cursor: pointer;

  & .photo {
    margin: 0 0.5em 0 0;
    width: 2em;
    height: 2em;
  }

  & .name {
    font-size: 0.9em;
  }

  &:not(:last-child) {
    margin-bottom: .25em;
  }
}

.header {
  display: flex;
  align-items: center;
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1;
  flex-grow: 1;
}

.hasLabel {
  border-left: 0.3em solid;
}

.bio {
  & p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0.25em;
    }
  }
}

.link {
  display: flex;
  width: 100%;

  .cell:first-child {
    border-left: 0;
  }
}