@import "../../_variables.css";

.container {
  display: table-row;
  font-family: var(--font-text);
  position: relative;
  transition: .2s;

  &:focus {
    outline: none;
    text-decoration: none;

    & .cell {
      border-color: var(--brand-color);
    }
  }

  & .name {
    margin: 0;
    font-size: 1em;
    font-weight: var(--font-bold);
    color: var(--color-black);
  }

}

.cell {
  display: table-cell;
  vertical-align: middle;
  border: var(--border-size) solid var(--border-color);
  border-left: 0;
  border-right: 0;
  background-color: var(--color-white);
  margin-bottom: 0.5em;

  &:first-child {
    border-left: var(--border-size) solid var(--border-color);
    padding-left: 0.5em;
  }

  &:last-child {
    border-right: var(--border-size) solid var(--border-color);
  }
}

.inner {
  display: flex;
  align-items: center;
}

.photo {
  border-radius: 50%;
  display: block;
  width: 2.75em;
  height: 2.75em;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0.25em 1em 0.25em 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.text {
  font-size: var(--font-small);
  color: var(--color-black);
  white-space: nowrap;
}

.hidden {
  display: none;
}

.profile {
  border: var(--border-size) solid var(--border-color);
  background-color: #fff;
  padding: 0.5em 1em;
  max-width: 30em;
  display: block;
}

.compact {
  padding: 0.25em 0.25em 0.25em 0.5em;
  margin-top: 0.25em;
  margin-bottom: .25em;
  cursor: pointer;

  & .photo {
    margin: 0 0.5em 0 0;
    width: 2em;
    height: 2em;
  }

  & .name {
    font-size: 0.9em;
  }
}

.header {
  display: flex;
  align-items: center;
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}

.hasLabel {
  border-left: 0.3em solid;
}