@import "_variables.css";

.title {
  &__main {
    color: var(--brand-color);
    font-weight: var(--font-bold);
    font-size: 1.2em;
    margin-bottom: 0.6em;

    & a {
      color: currentColor;
    }
  }
}