@import "_variables.css";

.title {
  &__main {
    color: var(--brand-color);
    font-weight: var(--font-bold);
    font-size: 1.2em;
    margin-bottom: 0.6em;

    & a {
      color: currentColor;
    }
  }
}

.sectionTitle {
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
  font-size: 0.875em;
}

.sectionTitlePersonal{
  color: rgb(249, 191, 118);
}

.sectionTitleWork{
  color: rgb(148, 178, 197);
}

.sectionTitleAlliance{
  color: rgb(153, 130, 188);
}

.sectionTitleRivalry{
  color: rgb(251, 128, 114);
}


.link {
  color: map(colors, primary, base);
  font-weight: 900;
  font-size: var(--font-small);
  text-transform: uppercase;
}