@import "_variables.css";

.title {
  &__main {
    color: var(--brand-color);
    font-weight: var(--font-bold);
    font-size: 1.2em;
    margin-bottom: 0.6em;

    & a {
      color: currentColor;
    }
  }
}

.sectionTitle {
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
  font-size: 0.875em;
}

.link {
  color: map(colors, primary, base);
  font-weight: 900;
  font-size: var(--font-small);
  text-transform: uppercase;
}