@import "_variables.css";

.container {
  font-family: var(--brand-font);
  font-size: 16px;
  display: block;
  color: var(--color-black);
  border-left: var(--border-size) solid var(--color-white);
  border-right: var(--border-size) solid var(--color-white);
}

.header {
  padding: 0 2em;
}

.wrap {
  background-color: var(--brand-color--light);
  padding: 1em 2em;
}
